body {
    font-family: sans-serif;
    text-align: center;
    background: url("./images/map.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

/*****START DISPLAY*****/

header p {
    font-size: 15px;
}

header p.api-info {
    color: steelblue;
    font-size: 12px;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    width: 80%
}